* {
       margin: 0;
       padding: 0;
       box-sizing: border-box;
     }
     
     html,
     body {
       width: 100%;
       height: 100%;
       /* background-color: #4b0082; */
     }
     
     .main {
       width: 96.5rem;
       position: relative;
       /* overflow: hidden; */
       background-color: #4b0082;
     }
     
     .pages {
       font-family: a;
       width: 100vw;
       height: 100vh;
       /* color: #00fb3f; */
       color: aliceblue;
       padding: 0 5rem;
     }